
.lead__image{
  background-image: url(../../../images/lead-polka.jpg);
  width: 100%;

  background-size: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {

  .lead__image{
    margin-top: 40px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 768px){

  .lead__image{
    margin-top: 56px;
  }
}

  @media screen and (min-width: 1280px){
    .lead__image{
      margin-top: 64px;
    }
  }
